*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body
{
    width:100%;
    height:100%;
}
#container
{
    width:500vw;
    height:100%;
    background: rgb(255,255,255);
    background: linear-gradient(117deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}
